/* Цвет текста при наведении на меню */
.nav-link {
    --bs-nav-link-hover-color: #000000;
}


/* Аккордеон */
.ui-accordion-header-icon {
    position: absolute;
    right: 25px;
    top: 30px;
}

.ui-accordion .ui-accordion-content {
    padding: 1em 2.2em 0.5em;
}

.ui-icon,
.ui-state-active .ui-icon,
.ui-state-hover .ui-icon {
    background-image: url("../assets/images/header_arrow.png");
    background-repeat: no-repeat;
    background-position: center;
}

.ui-state-active .ui-icon {
    transform: rotate(180deg);
}


/* Hover */
.btn:hover,
.hvr-rectangle-out {
    background: var(--bs-btn-bg);
}

.hvr-rectangle-out:before {
    background: var(--bs-btn-hover-bg)
}


/* Скрываем элементы до срабатывания анимации, чтобы не видеть их во время загрузки страницы */
.wow {
    visibility: hidden;
}


/* Стили для баннеров (hard level) */
.hard-level .btn {
    width: 170px;
}

.hard-banner-1 {
    background-image: url("../assets/images/banner_2_1.png");
    background-position: center;
    background-repeat: no-repeat;
}

.hard-banner-3 {
    background-image: url("../assets/images/banner_2_3.png");
    background-position: center;
    background-repeat: no-repeat;
}
