.nav-link {
    --bs-nav-link-hover-color: #000000;
}

.ui-accordion-header-icon {
    position: absolute;
    right: 25px;
    top: 30px;
}

.ui-icon,
.ui-state-active .ui-icon,
.ui-state-hover .ui-icon {
    background-image: url("../assets/images/header_arrow.png");
    background-repeat: no-repeat;
    background-position: center;
}

.ui-state-active .ui-icon {
    transform: rotate(180deg);
}

